/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Case Number]
      ,[Created By]
      ,[Case Date/Time Last Modified]
      ,[Case Last Modified By]
      ,[Date/Time Closed]
    
      ,[Date/Time Opened]
      ,[Reason Code Level 1]
      ,[Reason Code Level 2]
      ,[Reason Code Level 3]
      ,[Case Record Type]
      ,[Case Type]
      ,[Contact Name]
      ,[Case Origin]
      ,[Subject]
      ,[Description]
      ,[Priority]
      ,[Store Name]
      ,[UPC Code]
      ,[Product Name]
      ,[Product Code]
      ,[Production Expiration]
      ,[Best Before Date/Product Code]
      ,[OS]
      ,[Client Type]
      ,[Browser]
      ,[Error Message]
      ,[App Version]
      ,[Origin Website]
      ,[Contact Type]
      ,[WalletId]
      ,[Case ID]
      ,[Master Case Parent Number]
  FROM [Insights].[dbo].[Loblaws_Salesforce_ConsumerContacts]
  where  [Reason Code Level 2] in ('How to register') and 
    [Case Record Type]='Loyalty' and month([Date/Time Opened])>=7
